:root {
  --primary-color: #000;
  --accent-color: #e64c18;
}

.dark--theme {
  background: #000;
  --primary-color: #fff;
  --accent-color: #cb380b;
}

body {
  background-color: rgba(241, 240, 221, 0.841);
  color: var(--primary-color);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: right;
}

ul {
  display: flex;
  list-style: none;
}

.navbar__items {
  cursor: pointer;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
}

.navbar__items:hover {
  color: var(--accent-color);
  transform: scale(1.2);
  transition: transform 1s;
}

body {
  text-align: center;
}

.title {
  color: var(--accent-color);
  letter-spacing: 1rem;
  text-align: center;
  margin-top: 4rem;
}

.btn__action {
  align-self: center;
  border-radius: 3rem;
  background-color: transparent;
  border: 1px solid var(--accent-color);
}

.btn__action:hover {
  transform: scale(1.1);
}

.btn__action p {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
}

#icon {
  width: 2rem;
  background-color: var(--accent-color);
  margin-right: 1rem;
}
