<section class="info-section grid grid--1x2">
  <div class="aboutme">
    <h3>About me</h3>
    <img src="/pictures/mephoto.jpeg" class="img img--round" alt="..." />
    <p class="aboutme__txt">
      I am a self-motivated individual who is always seeking new challenges and
      opportunities to grow as a front-end developer. Formerly a cognitive
      behavioral psychotherapist, I made the decision to pursue my interest in
      programming and left my job to dedicate myself to learning and developing
      my programming skills. I am a collaborative person who values
      communication and feedback. I am always eager to learn from others and
      improve my skills.
    </p>
  </div>
  <div class="skills">
    <h3>Skills</h3>
    <p class="skill">
      HTML:
    </p>
    <div class=" progress progress-bar bg-success" style="width: 90%">
      80%
    </div>

    <p class="skill">CSS</p>
    <div class=" progress progress-bar bg-info" style="width: 90%">80%</div>
    <p class="skill">JavaScript</p>
    <div class=" progress progress-bar bg-warning" style="width: 70%">
      60%
    </div>
    <p class="skill">React</p>
    <div class=" progress progress-bar bg-danger" style="width: 40%">
      30%
    </div>
  </div>
</section>
