<section class="projects-section">
  <h3>Projects</h3>
  <div class="cards grid grid--1x2">
    <div class="card">
      <a href="/html components/palindrome.html" target="_blank">
        <img src="/images/palindrome.png" class="card-img-top" alt="..." />
        <div class="card__body">
          <p>
            Palindrome Checker
          </p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/html components/darkMode.html" target="_blank">
        <img src="/images/darkmode.png" class="card-img-top" alt="..." />
        <div class="card__body">
          <p>
            Dark Mode
          </p>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/html components/backgroundColor.html" target="_blank">
        <img src="/images/backgroundcolor.png" class="card-img-top" alt="..." />
        <div class="card__body">
          <p>
            Color Flipper
          </p>
        </div>
      </a>
    </div>
    <div class="card">
      <img src="/images/moshify.png" class="card-img-top" alt="..." />
      <div class="card__body">
        <p>
          Moshify
        </p>
      </div>
    </div>
  </div>
</section>
